<!DOCTYPE html>
<html>
<head>
  <title><%= (content_for?(:page_title) ? yield(:page_title) + ' - ' : '') + request.host %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div class="container">
    <div class="center">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </div>
</body>
</html>
